<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Team Roster</title>
    <!-- Latest compiled and minified CSS & JS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <!-- Main Stylesheet File -->
    <link href="../Assets/style.css" rel="stylesheet">
</head>

<body>

    <div class="container">
        <div class="jumbotron">
            <h1>Team Roster</h1>
            <h3>The greatest resource in the galaxy for managers!</h3>
            <hr>
        </div>
        <section id="work" class="bs-docs-section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="title-box text-center">
                            <h3 class="title-a">
                                Portfolio
                            </h3>
                            <p class="subtitle-a">
                                Here are a few of my recent works.
                            </p>
                            <div class="line-mf"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 container-fluid bg-danger">
                        <div class="work-box">
                            <a href="assets/clseUp_monster.png" data-lightbox="gallery-mf">
                                <div class="work-img">
                                    <img src="assets/MonsterDex.png" alt="" class="img-fluid">
                                </div>
                                <div class="work-content">
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <h2 class="w-title">Dungeons and Dragons Monster Index</h2>
                                            <div class="w-more">
                                                <span class="w-ctegory">Web Development</span> / <span class="w-date">18 Jan. 2020</span>
                                                <br>
                                                <span><a href="https://sjpcp5.github.io/DnDMonsterDex">Deployed Web page</a></span>
                                                <br>
                                                <span><a href="https://github.com/sjpcp5/DnDMonsterDex">Github to server side code</a></span>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="w-like">
                                                <span class="ion-ios-plus-outline"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 card">
                        <div class="work-box">
                            <a href="assets/closeUp_planner.png" data-lightbox="gallery-mf">
                                <div class="work-img">
                                    <img src="assets/HW5pic.png" alt="" class="img-fluid">
                                </div>
                                <div class="work-content">
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <h2 class="w-title">Day Planner</h2>
                                            <div class="w-more">
                                                <span class="w-ctegory">Responsive and Web Development</span> / <span class="w-date">30 Jan. 2020</span>
                                                <br>
                                                <span><a href="https://sjpcp5.github.io/DayPlanner/">Deployed Web page</a></span>
                                                <br>
                                                <span><a href="https://github.com/sjpcp5/DayPlanner">Github to server side code</a></span>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="w-like">
                                                <span class="ion-ios-plus-outline"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 card">
                        <div class="work-box">
                            <a href="assets/resume.png" data-lightbox="gallery-mf">
                                <div class="work-img">
                                    <img src="assets/sm_pdf_profile.png" alt="" class="img-fluid">
                                </div>
                                <div class="work-content">
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <h2 class="w-title">Github Profile to PDF</h2>
                                            <div class="w-more">
                                                <span class="w-ctegory">Web Design and Development</span> / <span class="w-date">17 Feb. 2020</span>
                                                <br>
                                                <span><a href="https://sjpcp5.github.io/GithubProfile_PDF/">Deployed Web page</a></span>
                                                <br>
                                                <span><a href="https://github.com/sjpcp5/GithubProfile_PDF">Github to server side code</a></span>

                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="w-like">
                                                <span class="ion-ios-plus-outline"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 card">
                        <div class="work-box">
                            <a href="img/work-4.jpg" data-lightbox="gallery-mf">
                                <div class="work-img">
                                    <img src="img/work-4.jpg" alt="" class="img-fluid">
                                </div>
                                <div class="work-content">
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <h2 class="w-title">Bindo Laro Cado</h2>
                                            <div class="w-more">
                                                <span class="w-ctegory">Web Design</span> / <span class="w-date">18 Sep. 2018</span>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="w-like">
                                                <span class="ion-ios-plus-outline"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 card-fluid bg-danger">
                        <div class="bs-component">
                            <div class="card text-white bg-primary mb-3" style="max-width:20rem;">
                                <div class="card-body">
                                    <h2 class="card-title" data="">Natasha</h1>
                                        <span class="ion-ios-plus-outline">
                                        <h3 class="card-text">Hacker</h2>
                                    </span>
                                </div>
                            </div>
                            <div class="card">
                                <div class="bs-component">
                                    <ul class="list-group">

                                        <li class="list-group-item d-flex justify-content-between align-items-center">ID:
                                            <span class="badge badge-primary badge-pill">1</span>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">Email:
                                            <span class="badge badge-primary badge-pill">2</span>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">Office Numeber:
                                            <span class="badge badge-primary badge-pill">3</span>
                                        </li>
                                    </ul>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </a>
            </div>
    </div>


    </div>
    </div>
    </section>

    <!--/ Section Portfolio End /-->

</body>

</html>